@media (min-width: 768px) {
  .planet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .planet-image {
    width: 50%;
  }
  .planet-name {
    color: #f8fafc;
    font-family: roboto;
  }
  .planet-description {
    color: #f1f5f9;
    font-family: roboto;
    text-align: center;
  }
}
